<ul class="padding-left-zero game-list  list-style-none">
    <li class="games-gallery">
        <a href="{{site.baseurl}}/games/jamleon">
            <img src="{{site.baseurl}}/assets/thumbnail_jamleon.png">
            <ul class="padding-left-zero list-style-none description-margin">
                <li class="game-description float-left game-list-float-left">Action/Stealth</li>
                <li class="float-right game-list-float-right game-description">Keyboard &amp; Mouse</li>
            </ul>
        </a>
    </li>
    <li class="games-gallery">
        <a href="{{site.baseurl}}/games/argby/">
            <img src="{{site.baseurl}}/assets/thumbnail_argby.png">
            <ul class="padding-left-zero list-style-none description-margin">
                <li class="game-description float-left game-list-float-left">Action</li>
                <li class="float-right game-list-float-right game-description">Keyboard Only</li>
            </ul>
        </a>
    </li>
<ul>
