<h5 class="share-post">Share this post on:</h5>
<div id="social">
<a class="twitter-button" href="https://twitter.com/intent/tweet?text={{ page.title }}&url=http://invrse.co{{ page.url }}&via=invrse" target="_blank"><i class='fa fa-twitter white'></i></a>

<a class="google-plus-button" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank"><i class='fa fa-google-plus white'></i></a>

<a class="facebook-button" href="https://www.facebook.com/sharer/sharer.php?t={{ page.title }}&u={{ url }}" target="_blank"><i class='fa fa-facebook white'></i></a></div>
