---
layout: default
---
<div class="post-header mb2">
  <h1 class="py2 center">{{ page.title }}</h1>
  <p class="post-meta center">{{ page.date | date: "%b %-d, %Y" }}</p>
</div>

<article class="post-content">
  {{ content }}
</article>


{% if page.comments %}
<div id="disqus_thread"></div>
<script type="text/javascript">
var disqus_shortname = 'invrse';

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
  var s = document.createElement('script'); s.async = true;
  s.type = 'text/javascript';
  s.src = '//' + disqus_shortname + '.disqus.com/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% endif %}